---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Home Inventory Management
  app:
    image: nickbusey/inventario
    restart: unless-stopped
    networks:
      - traefik_network
    links:
      - inventario_db
    environment:
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD=inventario
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:inventario.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=80"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
      - "traefik.tor.frontend.rule=Host:inventario.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"

  inventario_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/inventario_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=inventario
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD=inventario